<div id="home-sidebar" class="col-md-3">
    <p class="lead">Categorias</p>
    <div class="list-group">
      <% @categories.each do |c| %>
        <%= link_to "#{c.description} (#{c.ads_count})", site_category_path(c), class: "list-group-item"  %>
      <% end %>
    </div>
</div>
